<html>
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){});
    </script>
</head>
<body>
    <div class="crowForm">
        <h1>New Crow Registration</h1>
        <form action="/crows" method="post" autocomplete="off">
            Name: <input type="text" name="name"/>
            Age: <input type="text" name="age" />
            <input type="submit" value="create crow" />
        </form>
    </div>
</body>
</html>
